# what port to listen on; ports below 1024 may be restricted to root only
PORT=3000
# what host to listen on, if in doubt use 0.0.0.0
HOST=0.0.0.0
# valid log levels: debug, info, notice, warn, error, crit
# set to debug to see verbose requests
LOG_LEVEL=debug
